body {
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

.navbar {
  background-color: #296fff;
  color: #fff;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  font-weight: 700;
  position: fixed;
  width: 96%;
  top: 0;

}

.form-container {
  max-width: 360px;
  margin: 10% auto;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 28px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 25px;
  width: 100%;
}

label {
  display: block;
  color: #201f1f;
  margin-bottom: 5px;
  font-size: 15px;
}

input,
select,
textarea {
  width: 100%;
  padding: 5px 0px;
  border: none;
  border-bottom: 1px solid #252323;
  border-radius: 0;
  font-size: 16px;
  box-sizing: border-box;
  background-color: transparent;
  transition: border-color 0.3s ease;
}

input:focus,
textarea:focus {
  outline: none;
  /* border-bottom-color: #031121; */
}

.link-page {
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
  text-decoration: none;
  cursor: pointer;
  color: #004;
}

.primary-color {
  color: #296fff;
}

button {
  background-color: #296fff;
  color: #fff;
  border: none;
  padding: 14px 20px;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 400px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s ease;
  width: 100%;
  box-sizing: border-box;
}

button:hover {
  background-color: #295fff;
  /* transform: translateY(-2px); */
}

button:active {
  transform: translateY(0);
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
}
.form-title {
  font-size: 20px;
  text-align: center;
  padding-bottom: 20px;
}

label {
  display: flex;
  align-items: center;
  gap: 2px;
}

.err {
  color: red;
}

.logo {
  color: #fff;
  font-size: 20px;
}

.user-nav {
  font-weight: 400;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.cards-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 60px;
  z-index: 1;
}

.card {
  width: 400px;
  padding: 15px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin-top: 10px;
}

.card-title {
  font-weight: 400;
  font-size: larger;
  line-height: 4px;
}

.amt {
  padding: 8px 2px;
}

.modal {
  padding: 20px;
  border-radius: 1px solid black;
  border-radius: 5px;
  background-color: #ffffff;
  color: black;
  width: 400px;
  box-shadow: 1px 4px 80px rgb(83, 75, 75);
}

#modals {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal-form {
  padding: 10px 20px;
}
.close {
  position: absolute;
  right: 30px;
  cursor: pointer;
}

.buttonContainer {
  bottom: 20px;
  right: 20px;
  display: flex;
  gap: 10px;
  margin-top: 40px;
  justify-content: flex-end;
}

.cancelButton,
.confirmButton {
  width: 90px;
  padding: 8px 16px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.container{
  padding: 20px;
}

.stat-wrapper {
  display: flex;
  align-items: center;
  margin: 20px 0px;
  height: 500px;
}

.line-chart-title {
  text-align: left;
  position: relative;
  line-height: 0px;
  top: 20px;
  left: 10px;
  padding-left: 16px;
}

.chart-container {
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.line-chart-wrapper {
  width: 64%;
  height: 400px;
  border: 1px;
  padding: 10px;
  background-color: #fffef7;
}
.pie-chart-wrapper {
  height: 400px;
  /* width: 25%; */
  padding: 10px;
  margin: 10px auto;
}
.pie-chart-title {
  text-align: center;
  position: relative;
  line-height: 0px;
  top: 20px;
  margin-bottom: 40px;
}
.pie-wrapper {
  height: 400px;
  margin-top: 10px;
}

.input-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.8rem;
  box-shadow: 0px 0px 30px 8px rgba(227, 227, 227, 0.75);
  border-radius: 0.5rem;
  padding: 0rem 0.5rem;
}

.search-box {
  width: 60%;
  padding: 10px 5px;
}

.select-box {
  width: 36%;
  position: relative;
}

.input-flex input,
.input-flex select {
  width: 100%;
  padding: 0.5rem;
  border: 0;
  background: transparent;
  font-size: 1rem;
}

.input-flex input:focus,
.input-flex select:focus {
  outline: none;
}

.input-flex select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

/* Custom dropdown arrow only for select box */
.select-box::after {
  content: '\25BC';
  position: absolute;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%);
  pointer-events: none;
}

.my-table {
  box-shadow: 0px 0px 30px 8px rgba(227, 227, 227, 0.75);
  border-radius: 0.5rem !important;
  padding: 2rem;
  margin-bottom: 4rem;
}


.radio-group {
  display: inline-flex;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.radio-button {
  float: left;
  margin: 0;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  overflow: hidden;
  transition: all 0.3s ease;
}

.radio-button:hover {
  color: #40a9ff;
}

.radio-button input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.radio-button span {
  display: block;
  padding: 8px 15px;
  line-height: 22px;
  cursor: pointer;
}

.radio-button input:checked + span {
  background-color: #1890ff;
  color: #fff;
}

.radio-button:first-of-type {
  border-radius: 15px 0 0 15px;
}

.radio-button:last-of-type {
  border-radius: 0 15px 15px 0;
}

.search-and-filter {
  display: flex;
  margin: 10px 20px;
  gap: 20px;
}

.search-box .search-icon {
  padding-left: 10px;
}

.transactions-container {
  margin-top: 20px;
   padding: 20px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}

.export-button {
  width: 160px;
  background-color: rgb(42, 161, 246);
  color: white;
  border: none;
  cursor: pointer;
}

.pagination-buttons {
  width: 200px;
  margin-left: auto;
  display: flex;
  gap: 10px;
}

.pagination-button {
  background: white;
  color: black;
  border: 1px solid rgb(0, 76, 255);
  cursor: pointer;
}

.pagination-button.disabled {
  cursor: not-allowed;
  opacity: 0.6;
}
